html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
li {
    line-height: 150%;
    padding: 10px 20px;
    cursor: pointer;
}
li:nth-child(odd){
    background-color: #eee;
}
li:nth-child(even){
    background-color: #ccc;
}